body{
    font-family: 'inter',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    font-size: 3rem;
    padding: 1.5rem 3rem;
    background-color: steelblue;
    border:1px solid navy;
    border-radius: 1rem;
    color: white;
    text-transform: uppercase;
    font-family: 'inter',-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}